.title1 {
    color:#5C4033;
}

.underline {
    color:#8B5A2B;
    text-decoration: underline;
    font-weight: 500;
    display: inline;
    
}

img {
    display: flex;
    justify-content: center;
}